.App {
  text-align: center;
}

.bckgImg{
  opacity: .07;
  position: fixed;
  z-index: -2;
  width: 100vw;
  height: 120vh;
  bottom: 0;
  left: 0;
  transform: skewX(120deg);
  transform: skewY(140deg);
}


.open-mode__toggle {
  background: #bdbbbb;
  border: .5px solid #a1a0a0;
}

.toggle {
  background: #bdbbbb;
  border: .5px solid #a31010;
}

.toggled {
  background: #bdbbbb;
  border: .5px solid #004196;
}

.return-to-search {
  text-align: left;
  text-decoration: none;
  color: #636363e1;
  margin: 0 25px;
}

div.App{
  width: 100%
}


@media screen and (max-width: 950px){
  .landing-b1{
    width: 98vw !important;
  }
  .landing-b1 h1{
    text-align: center;
  }
  .landing-b1 p{
    display: none;
  }
  .landing-b1 form input{
    width: 90vw !important;
  }
  .landing-b2{
    width: 98vw !important;
    flex-direction: column
  }
  .landing-b2 div{
    width: 100% !important;
    margin: 5vh auto;
    height: 40vh !important
  }
}