.App {
  text-align: center;
}


.open-mode__toggle {
  background: #bdbbbb;
  border: .5px solid #a1a0a0;
}

.toggle {
  background: #bdbbbb;
  border: .5px solid #a31010;
}

.toggled {
  background: #bdbbbb;
  border: .5px solid #004196;
}

.return-to-search {
  text-align: left;
  text-decoration: none;
  color: #636363e1;
  margin: 0 25px;
}