.App {
  text-align: center;
}

.bckgImg{
  opacity: .07;
  position: fixed;
  z-index: -2;
  width: 100vw;
  height: 120vh;
  bottom: 0;
  left: 0;
  transform: skewX(120deg);
  transform: skewY(140deg);
}


.open-mode__toggle {
  background: #bdbbbb;
  border: .5px solid #a1a0a0;
}

.toggle {
  background: #bdbbbb;
  border: .5px solid #a31010;
}

.toggled {
  background: #bdbbbb;
  border: .5px solid #004196;
}

.return-to-search {
  text-align: left;
  text-decoration: none;
  color: #636363e1;
  margin: 0 25px;
}

div.App{
  width: 100%
}

/* IPAD */
@media screen and (max-width: 950px){
  .navbar div{
    width: 70% !important;
    justify-content: space-evenly;
    font-size: 1.75rem;
  }

  /* HOME PAGE */
  .landing-b1{
    width: 90vw !important;
  }
  .landing-b1 h1{
    text-align: center;
  }
  .landing-b1 p{
    display: none;
  }
  .landing-b1 form input{
    width: 80vw !important;
  }
  .landing-b2{
    width: 90vw !important;
    flex-direction: column;
    height: 100% !important;
  }
  .landing-b2 div{
    width: 100% !important;
    margin: 5vh auto;
    height: 40vh !important;
    margin: 2.5vh auto !important;
  }

  /* SEARCH CARDS */
  .stylist-card{
    width: 95vw !important;
    height: 25vh !important;
  }
  .stylist-card a{
    flex-direction: row !important;
  }
  .stylist-card img{
    height: 25vh !important;
    width: 200px !important;
  }
  .stylist-card h3 {font-size: 1.5rem !important}
  .stylist-card h4 {font-size: 1.25rem !important}
  .stylist-card p {font-size: 1.25rem !important}
  .stylist-card div{
    text-align: left;
    margin: 0 0 0 20px;
  }
  /* SEARCH PAGE */
  .search-bar form{
    display: flex;
    width: 90vw !important;
  }
  .search-bar .filterOpt{
    width: 25vw !important;
  }
  .search-container{
    justify-content: center;
    width: 90vw !important;
    height: 100% !important;
  }

  /* STYLIST DASH */
  .stylist-dash .info-box{
    width: 90vw !important;
  }
  .stylist-dash .gallery{
    width: 90vw !important;
  }
  .stylist-dash .info-box h3{ font-size:1.5rem}
  .stylist-dash .info-box p{ font-size:1.25rem}
  .stylist-dash .profile-pic-box{
    height: 300px !important;
    width: 300px !important;
  }
  /* STLYIST POSTS CARDS */
  .post-card{
    width: 29vw !important;
    height: 40vw !important;
  }
  .post-card img{
    height: 25vw;
  }

  /* LOGIN & SIGNUP */
  .login-pg {
    width: 100vw!important;
  }
  .login-pg img{
    display: none !important;
  }
  .login-pg div{
    margin: auto;
  }
  .login-pg form{
    padding: 0;
    width: 100% !important;
  }
  .login-form h3{
    font-size: 3rem !important;
  }
  .check-stylist, .login-form p, a{
    font-size: 1.2rem !important;
  }
  .login-form input, button{
    height: 40px !important;
    font-size: 1.25rem  !important;
  }
}

/* SMART PHONE */
@media screen and (max-width: 420px){

  /* STYLIST  DASH */
  .stylist-dash .info-box{
    height: 100% !important;
  }
  .stylist-dash .profile-text{
    width: 90% !important;
  }
  .stylist-dash .profile-text{
    width: 90% !important;
  }
  .stylist-dash .profile-text h3{font-size: 1.25rem}
  .stylist-dash .profile-pic-box{
    height: 150px !important;
    width: 150px !important;
  }
  /* STLYIST POSTS CARDS */
  .post-card{
    width: 28vw !important;
    height: 28vw !important;
  }
  .post-card img{
    height: 28vw;
  }
  .post-card h4, p{
    display: none
  }

  /* LOGIN SIGNUP */
  .login-pg div{
    width: 90vw !important;
  }
}
